@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    background-color: hsl(240,0%,15%);
    color: hsl(60,10%,70%)
}
body {
    font-family: 'Roboto Slab', serif;
}

.header-container {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto 500px;
}

.left-header {
    grid-column: 1 / span 1;
}

.right-header {
    grid-column: 2 / span 1;
    align-self: center;
}

h1.heading {
    font-size: 36px;
}

h2.tagline {
    font-size: 14px;
}

nav {
    background-color: hsl(240,0%,5%);
    padding: 15px 15px 15px 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: hsl(60,10%,70%);
}

.main-container {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 300px auto 630px;
}

.placeholder {
    border-style: solid;
    border-width: 1px;
    border-color: hsl(60,10%,90%);
    border-top: none;
    border-bottom: none;
}

.hero-banner {
    grid-column: 3 / span 1;
    width: 630px;
    height: 300px;
    overflow: hidden;
    background-position: center center;
    justify-self: end;
}

.article-container {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.article-block {
    width: 300px;
}

footer {
    background-color: hsl(240,0%,15%);
    color: hsl(60,10%,70%)
}

.footer-text {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 12px;
}

h3 {
    font-size: 14px;
    font-weight: 700px;
}

main {
    color: gray;
}

.article-icon {
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    float: left;
    margin-right: 10px;
}

.article-text {
    font-size: 13px;
}

.article-block > a {
    font-size: 13px;
    font-weight: bold;
    float: right;
    color: orange;
}